{% extends 'base.html' %}

{% block title %} Logout-Hackorg {% endblock %}

{% block content %}

<div class="Logout_container">
    <h2>Logout</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Logout</button>
    </form>
</div>


<style>
       .Logout_container {
        max-width: 600px;
        margin: 2rem auto;
        padding: 2rem;
        background: white;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
</style>

{% endblock %}